<div class="container">
  <% %w(success info warning danger).each do |alert| %>
  <% if flash[alert.to_sym] %>
  <div class="alert alert-<%= alert %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[alert.to_sym] %>
  </div>
  <% end %>
  <% end %>

  <% @top_100_photos.each_with_index do |photo, index| %>
    <% if index % 3 == 0 %><div class="row photo-container"><% end %>
        <%= render partial: 'photo', object: photo %>
    <% if index % 3 == 2 %></div><% end %>
    <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <img src="" />
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
